<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_list">
                <li class="main-header_item"><a href="/shop">Shop</a></li>
                <li class="main-header_item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header_item"><a href="/contactus">ContactUs</a></li>
                <li class="main-header_item"><a href="/cart">Cart</a></li>
                <li class="main-header_item"><a href="/admin/product">Admin</a></li>
            </ul>
        </nav>
    </header>

    <h1>My Cart</h1>
    <% if (prods.length> 0) { %>
        <% for (let product of prods) { %>
            <article id="article">
                <div class="card__image" id="add_product">
                    <img id="img" src="<%= product.productId.image %>" alt="<%=product.productId.title%>"><br>
                    <span id="b">
                        <%= product.title %>
                    </span>
                    <h2>Quantity: <%= product.quantity %></h2>
                    <form action="/cart/delete-item" method="POST">
                        <input type="hidden" value="<%= product.productId._id %>" name="productId">
                        <button class="btn danger" type="submit">Delete</button>
                    </form>
                </div>
            </article>
            <br>
            <% } %>
            <div class="centered">
                <form action="/post-order" method="POST">
                    <br>
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
                <% } else { %>
                    <h1>No Products Found!</h1>
                    <% } %>

</body>

</html>