<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_list">
                <li class="main-header_item"><a class="active" href="/shop">Shop</a></li>
                <li class="main-header_item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header_item"><a href="/contactus">ContactUs</a></li>
                <li class="main-header_item"><a href="/cart">Cart</a></li>
                <li class="main-header_item"><a href="/admin/product">Admin</a></li>
            </ul>
        </nav>
    </header>
    <h1>My shop</h1>
    <% if (prods.length> 0) { %>
        <% for (let product of prods) { %>
            <article id="article">
                <div class="card__image" id="add_product">
                    <img id="img" src="<%= product.image %>" alt="<%=product.title%>"><br>
                    <span id="b">
                        <%= product.title %>
                    </span>
                    <form action="/admin/delete/<%=product._id%>" method="POST">
                        <div class="card__actions">
                            <br> <button type="submit" class="btn">Delete</button>

                        </div>
                    </form>
                    <form action="/admin/edit-product/<%= product._id%>">
                        <div class="card__actions">
                            <br> <button id="details">Edit</button>
                        </div>
                    </form>
                </div>
            </article>
            <% } %>
                <% } else { %>
                    <h1>No Products Found!</h1>
                    <% } %>
</body>

</html>